pyinstaller
sphinx
sphinx-copybutton
sphinxcontrib-video
pydata_sphinx_theme
setuptools
wheel
numpy
pybind11
requests
scipy
PyQt5
pyqtgraph
opencv-python
matplotlib
lttbc
pyqtdarktheme==2.1.0
h5py
scikit-learn
tqdm
Pillow
pywavelets
pyqtwebengine
pandas
zstandard
urllib3
